{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} 教务管理系统 - 上课时间管理 {% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>上课时间管理</h1>
</div>

<h3>添加上课时间</h3>
<div class="row">
    <div class="col-md-4">
    {{ wtf.quick_form(form) }}
    </div>
</div>
<h3>已有上课时间管理</h3>

<div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>上课时间</th>
                    <th>#</th>
                </tr>
            </thead>
            <tbody>
                {% for timespan in timespans %}
                <tr>
                    <th scope="row">{{ timespan.name }}</th>
                    <td>
                        <a href="{{ url_for('admin.del_timespan', id=timespan.id) }}">删除</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
</div>

{% endblock %}